<%= form_with(model: [project, action_state, target], local: true) do |form| %>
  <%= form.hidden_field :action_state_id, value: action_state.id %>

  <tr>
    <td><%= form.collection_select(:value, TargetType.all, :id, :caption, {prompt: false}, {class: 'form-control'}) %></td>
    <td colspan="2"><%= form.submit '送信', class: 'btn btn-primary' %></td>
  </tr>
<% end %>
