<h1>HP条件選択</h1>

<% hp_condition_options = HpCondition.all.map { |hp| [hp.caption, hp.id] } %>

<%= form_with url: request.path, method: :get, local: true do |form| %>
  <%= form.select :hp_condition_id, hp_condition_options %>
  <%= form.submit 'Submit' %>
<% end %>
