<h1><%= @ai_routine.name %> / <%= @hp_condition.caption %> / 新規ターゲット行動条件の追加</h1>

<%= render 'form',
  target_action_condition: @target_action_condition,
  form_url: ai_routine_hp_condition_target_action_conditions_path(@ai_routine, @hp_condition.id) %>

<%= link_to '戻る', ai_routine_hp_condition_target_action_conditions_path(@ai_routine, @hp_condition.id) %>
