@import "bootstrap-sprockets";
@import "bootstrap";

body {
  margin-top: 50px;

  .sidebar {
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
  }
}
